# Framework Flask
Flask==3.0.0
Werkzeug==3.0.1

# Base de données
psycopg2-binary==2.9.9

# Machine Learning & Data Science
tensorflow-cpu==2.18.0
numpy==1.26.4
pandas==2.1.4

# Traitement d'images
opencv-python-headless==4.10.0.84
Pillow==10.4.0

# Serveur WSGI pour production
gunicorn==21.2.0

# Utilitaires
python-dotenv==1.0.0
