# Framework Flask
# Framework Flask
Flask==3.0.0
Werkzeug==3.0.1

# Base de données
psycopg2-binary==2.9.9

# Security
python-dotenv==1.0.0
Flask-WTF==1.2.1

# Production Server
gunicorn==21.2.0

# Development (optionnel)
# pytest==7.4.3
# black==23.12.1
# flake8==6.1.0